/**** GLOBAL ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

:root {
    --dark: #5A2429ff;
    --light: white;
    --secondary: #AC716Cff;
    --radius: 8px;
    --small-height: 30px;
    --title-font: 'Bad Script', cursive;

    --old-rose: #AC716Cff;

    --licorice: #130B0Cff;
    --licorice-2: #150F0Fff;
    --ecru: #C7A463ff;
    --chocolate-cosmos: #5A2429ff;
    --night: #151519ff;
}

body {
    background-color: var(--light);
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

h1,
h2 {
    font-family: var(--title-font);
    font-weight: 400;
}

button,
a {
    padding: 0;
    margin: 0;
    border: none;
}

section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: var(--dark);
    box-sizing: border-box;
}

.dark {
    background-color: var(--dark);
    color: white;
}

.dark a {
    color: white;
}

.light {
    background-color: var(--light);
}

.dark .button {
    background-color: var(--light);
    color: var(--dark);
}

.button {
    border-radius: var(--radius);
    padding: 10px;
    text-decoration: none;
    align-self: flex-end;
    height: var(--small-height);
}

/**** NAV ****/
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 8vh;
    align-items: center;

}

nav ul li {
    padding: 0;
    margin: 0 3%;
}

nav ul li a {
    text-decoration: none;
}

/**** Intro ****/
.intro {
    height: 70vh;
    background-image: url(medias/livre-ouvert-scene-conte-fees.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;


}

.intro h1 {
    padding: 0;
}

.card{
    border-radius: var(--radius);
    padding: 1% 2%;
    box-sizing: border-box;
    margin: 0;
    width: 30vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

/**** Books list ****/

.book-card {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.book-card::before {
    content: "";
    background-image: url(book.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 35%;
    height: calc(100% - 4%);
    box-sizing: border-box;
    position: absolute;
    top: 1%;
    left: 2%;
}



.card-container .title {
    width: 100vw;
}

/**** Newsletter form ****/
.form-container {
    margin: 2% 0;
    padding: 1%;
    background-image: url(medias/6920933.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form-container form {
    box-sizing: border-box;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input {
    background-color: var(--light);
    border: none;
    border-radius: var(--radius);
    height: var(--small-height);
    width: 50%;
}

.form-container .button {
    margin-right: 10%;
}