/**** GLOBAL ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Oxanium:wght@200..800&display=swap');

:root {
    --dark: #5A2429;
    --light: white;
    --secondary: #C5918C;
    --radius: 8px;
    --small-height: 30px;
    --title-font: "Oxanium", sans-serif;
    --text-font: 'Montserrat', sans-serif;
}

/*#AC716C  #C5918C*/
body {
    background-color: var(--light);
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    min-height: calc(100vh - 16vh);
}

h1,
h2,
h3 {
    margin: 0;
}

h1,
h2 {
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--dark);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

button,
a {
    padding: 0;
    margin: 0;
    border: none;
    font-size: medium;
    box-sizing: border-box;
}

section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: var(--dark);
    box-sizing: border-box;
    font-size: small;
}

footer a {
    font-size: small;
}

footer svg {
    width: 25px;
    height: 25px;
}

.dark {
    background-color: var(--dark);
    color: var(--light);
}

.dark a {
    color: var(--light);
}

.light {
    background-color: var(--light);
}

.dark .button {
    background-color: var(--light);
    color: var(--dark);
}

.button {
    border-radius: var(--radius);
    padding: 10px;
    vertical-align: middle;
    text-decoration: none;
    align-self: flex-end;
    min-height: var(--small-height);
}

.button:hover,
.button:focus {
    background-color: var(--secondary);
    border-bottom: 0px;
}

a:hover {
    color: var(--secondary);
}

a:hover svg {
    fill: var(--secondary);
}

.italique {
    font-style: italic;
}

/**** NAVIGATION ****/
/**** MENU D'EVITEMENT ****/
.fr-skiplinks {
    position: absolute;
    left: -100%;
    top: auto;

}

.fr-skiplinks:focus-within {
    position: relative;
    left: 0;
}

.fr-skiplinks:focus-within a {
    color: var(--dark);
}

/*** MENU PRINCIPAL ****/
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 8vh;
    align-items: center;

}

nav ul li {
    padding: 0;
    margin: 0 3%;
}

nav ul li a {
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid var(--secondary);
}

/**** Intro ****/
.intro {
    min-height: 80vh;
    background-image: url(medias/accueil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 3%;
}

.intro h1 {
    padding: 0;
    font-size: 5em;
}

.card {
    border-radius: var(--radius);
    padding: 1% 2%;
    box-sizing: border-box;
    margin: 0;
    width: 30vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.card-light {
    background-color: var(--light);
    border-radius: var(--radius);
    border: 2px solid var(--dark);
}

/**** Books list ****/

.book-card {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.book-card::before {
    content: "";
    background-image: url(book.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 35%;
    height: calc(100% - 4%);
    box-sizing: border-box;
    position: absolute;
    top: 1%;
    left: 2%;
}

.card-container .title {
    width: 100vw;
}

.newBook-container {
    border-width: 15px 0;
    border-image: linear-gradient(to right, var(--dark), #EA394B, #BA5745);
    border-image-slice: 1;
    border-style: solid;
    box-sizing: border-box;
    padding: 2% 0;
}

/**** Newsletter form ****/
.form-container {
    padding: 1%;
    background-image: url(medias/newsletter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form-container h2 {
    color: var(--light);
}

.form-container form {
    box-sizing: border-box;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input {
    background-color: var(--light);
    border: none;
    border-radius: var(--radius);
    height: var(--small-height);
    width: 50%;
    font-size: medium;
}

.form-container .button {
    margin-right: 10%;
}

/**** avis ****/
.avis {
    padding: 1% 2%;
}

.avis h2 {
    text-align: center;
}

/**** INFOS ****/
.contact {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    align-content: flex-start;
    position:relative;
}

.contact h1 {
    width: 100%;
    margin-bottom: 2%;
}

.contact section {
    width: 50%;
}

.contact span {
    font-weight: 600;
}
.contact::after{
    content:"";
    display: block;
    width: 100%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(./medias/contact.png);
    position:absolute;
    bottom:0;
    right:0;
    z-index: -100;
}

/**** EQUIPE ****/
.equipe {
    padding: 0 2%;
}

.equipier span {
    font-weight: bold;
}

.equipier::before {
    content:"";
    display: block;
    width: 25vw;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#Paul::before {
    background-image: url(./medias/Paul.png);
}

#Apolline::before {
    background-image: url(./medias/Apolline.png);
}

#Katell::before {
    background-image: url(./medias/Katell.png);
}

/**** BOOKS ****/
.Chenais::before{
    background-image: url(./medias/Chenais.jpg);
}
.Breton::before{
    background-image: url(./medias/Breton.jpg);
}
.Quemeneur::before{
    background-image: url(./medias/Quemeneur.png);
}

.book {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(80vw - 3%);
    margin-left: calc(20vw + 3%);
}

.book div {
    margin: 1%;
}

.book h2 {
    font-family: var(--text-font);
    font-weight: bold;
}

.book div:first-child {
    border: 1px solid var(--secondary);
    border-top: 0px;
    border-bottom: 0px;
    padding: 0 1%;
    max-width: 50%;
}

.book div:first-child::before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(8vh + 2%);
    left: 2%;
    width: 20vw;
    height: calc(80vh);
}

.book-info {
    font-size: small;
}

.book .button:hover {
    color: var(--dark);
}


/************* RESPONSIVE   ***************/
/* mobile */
@media (max-width: 600px) {
    .card {
        min-width: 320px;
        margin-bottom: 2%;
    }

    .book-card {
        padding-left: 30%;
    }

    .book-card::before {
        width: 30%;
    }

    .form-container {
        background-image: none;
        padding: 2%;
    }

    .form-container form {
        width: 100%;
    }

    .form-container form input {
        margin-bottom: 2%;
    }

    .contact section {
        width: 100%;
    }
    .contact::after{
        background-image: none;
    }


}

@media (max-width: 710px) {
    .book {
        margin: 0;
        width: 100vw;
        justify-content: center;
        align-content: space-evenly;

    }

    .book div {
        margin: 0;
    }

    .book div:first-child {
        border: none;
        padding-top: 41vh;
    }

    .book div:first-child::before {
        top: calc(8vh + 1%);
        left: 10%;
        width: 80vw;
        height: 40vh;
        background-position: center;
    }

    .equipier::before {
        width: 100%;
        height: 25vh;
    }
    .contact::after{
        height: 35vh;
    }
    
}