/**** GLOBAL ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

:root {
    --dark: #5A2429;
    --light: white;
    --secondary: #AC716C;
    --radius: 8px;
    --small-height: 30px;
    --title-font: 'Bad Script', cursive;
    --text-font: 'Montserrat', sans-serif;

    --old-rose: #AC716Cff;

    --licorice: #130B0Cff;
    --licorice-2: #150F0Fff;
    --ecru: #C7A463;
    --chocolate-cosmos: #5a2429;
    --night: #151519ff;
}

body {
    background-color: var(--light);
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
}

h1,
h2,
h3 {
    margin: 0;
}

h1,
h2 {
    font-family: var(--title-font);
    font-weight: 400;
}

button,
a {
    padding: 0;
    margin: 0;
    border: none;
    font-size: medium;
    box-sizing: border-box;
}

section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: var(--dark);
    box-sizing: border-box;
    font-size: small;
}

footer a {
    font-size: small;
}

footer svg {
    width: 25px;
    height: 25px;
}

.dark {
    background-color: var(--dark);
    color: white;
}

.dark a {
    color: white;
}

.light {
    background-color: var(--light);
}

.dark .button {
    background-color: var(--light);
    color: var(--dark);
}

.button {
    border-radius: var(--radius);
    padding: 10px;
    vertical-align: middle;
    text-decoration: none;
    align-self: flex-end;
    min-height: var(--small-height);
}

/**** NAVIGATION ****/
/**** MENU D'EVITEMENT ****/
.fr-skiplinks {
    position: absolute;
    left: -100%;
    top: auto;

}

.fr-skiplinks:focus-within {
    position: relative;
    left: 0;
}

.fr-skiplinks:focus-within a {
    color: var(--dark);
}

/*** MENU PRINCIPAL ****/
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 8vh;
    align-items: center;

}

nav ul li {
    padding: 0;
    margin: 0 3%;
}

nav ul li a {
    text-decoration: none;
}

nav .active,
nav a:hover {
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
}

/**** Intro ****/
.intro {
    height: 70vh;
    background-image: url(medias/livre-ouvert-scene-conte-fees.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;


}

.intro h1 {
    padding: 0;
}

.card {
    border-radius: var(--radius);
    padding: 1% 2%;
    box-sizing: border-box;
    margin: 0;
    width: 30vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

/**** Books list ****/

.book-card {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.book-card::before {
    content: "";
    background-image: url(book.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 35%;
    height: calc(100% - 4%);
    box-sizing: border-box;
    position: absolute;
    top: 1%;
    left: 2%;
}

.card-container .title {
    width: 100vw;
}

.newBook-container {
    border-width: 15px 0;
    border-color: var(--dark);
    border-style: solid;
    box-sizing: border-box;
    padding: 2% 0;
}

/**** Newsletter form ****/
.form-container {
    padding: 1%;
    background-image: url(medias/newsletter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form-container form {
    box-sizing: border-box;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input {
    background-color: var(--light);
    border: none;
    border-radius: var(--radius);
    height: var(--small-height);
    width: 50%;
    font-size: medium;
}

.form-container .button {
    margin-right: 10%;
}

/**** INFOS ****/
.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact h1 {
    width: 100%;
    text-align: center;
}

.contact section {
    width: 50%;
}
/**** EQUIPE ****/
.equipier span{
    font-weight: bold;
}

.equipier::before{
    content:"";
    border:2px solid red;
}

/**** BOOKS ****/
.book {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: (calc(100vh - 8vh));
}

.book div {
    margin: 1%;
}

.book h2 {
    font-family: var(--text-font);
    font-weight: bold;
}

.book div:first-child {
    border: 1px solid var(--secondary);
    border-top: 0px;
    border-bottom: 0px;
    padding: 0 1%;
}

.book div:first-child::before {
    content: "";
    position: absolute;
    top: calc(8vh + 2%);
    left: 2%;
    width: 20vw;
    height: 100%;
    border: 2px solid red;
}

.book div:first-child p {
    font-size: small;
}



/************* RESPONSIVE   ***************/
/* mobile */
@media (max-width: 600px) {
    .card {
        min-width: 320px;
        margin-bottom: 2%;
    }

    .book-card {
        padding-left: 30%;
    }

    .book-card::before {
        width: 30%;
    }

    .form-container {
        background-image: none;
        padding: 2%;
    }

    .form-container form {
        width: 100%;
    }

    .form-container form input {
        margin-bottom: 2%;
    }

    .contact section {
        width: 100%;
    }
}